@using System.Xml;
@{
    //****************** Khởi động Dữ liệu Nguồn-Nội bộ **********
    Session["Chuc_nang_Chon"] = Path.GetFileName(Request.Path).Replace(".cshtml", "");
    var Du_lieu = XL_LUU_TRU.Doc_Du_lieu();
    var Cong_ty = (XmlElement)Du_lieu.GetElementsByTagName("Cong_ty")[0];
    var Danh_sach_Laptop = (XmlElement)Du_lieu.GetElementsByTagName("Danh_sach_Laptop")[0];
    var Danh_sach_Phieu_dat = (XmlElement)Du_lieu.GetElementsByTagName("Danh_sach_Phieu_dat")[0];
    var Danh_sach_Nhan_vien = Cong_ty.SelectNodes("Danh_sach_Nhan_vien/Nhan_vien");

    // Hard-coded QUAN_LY
    string selector = String.Format("//Quan_ly[@Ma_so='{0}']", "NV_16");
    XmlElement Quan_ly = (XmlElement)Cong_ty.SelectSingleNode(selector);
    string Ma_so_Cua_hang = Quan_ly.LastChild.Attributes["Ma_so"].Value;

    XmlDocument doc = new XmlDocument();
    doc.LoadXml("<Danh_sach_Nhan_vien />");
    XmlElement Danh_sach_Nhan_vien_duoc_quan_ly = (XmlElement)doc.GetElementsByTagName("Danh_sach_Nhan_vien")[0];

    foreach(XmlElement Nhan_vien in Danh_sach_Nhan_vien)
    {
        string Ma_so_Nhom_Nhan_vien = Nhan_vien.FirstChild.Attributes["Ma_so"].Value;

        if (Ma_so_Nhom_Nhan_vien == "GIAO_HANG")
        {
            string Ma_so_cua_hang_Nhan_vien = Nhan_vien.LastChild.Attributes["Ma_so"].Value;
            if (Ma_so_cua_hang_Nhan_vien == Ma_so_Cua_hang)
            {
                XmlNode newNode = doc.ImportNode(Nhan_vien, true);
                Danh_sach_Nhan_vien_duoc_quan_ly.AppendChild(newNode);
            }
        }
    }


    //******************* Khai báo Biến  ********************
    var Chuoi_Tra_cuu = Session["Chuoi_Tra_cuu"].ToString();
    var Danh_sach_Phieu_dat_Xem = Danh_sach_Phieu_dat;
    int So_luong = Danh_sach_Phieu_dat.ChildNodes.Count;

    //******************* Nhập liệu cho Biến Nhập nếu có - Tính Biến kết quả nếu Hợp lệ   *****************
    if (Chuoi_Tra_cuu != null)
    {
        //Danh_sach_Phieu_dat_Xem = XL_NGHIEP_VU.Tra_cuu_Laptop(Chuoi_Tra_cuu, Danh_sach_Laptop);
        //So_luong = Danh_sach_Phieu_dat_Xem.ChildNodes.Count;
    }

    //******************* Kết xuất  **********
    var Chuoi_HTML_Danh_sach_Phieu_dat = XL_THE_HIEN.Tao_Chuoi_HTML_Danh_sach_Phieu_dat(Danh_sach_Phieu_dat_Xem);
    var Chuoi_HTML_Danh_sach_Nhan_vien = XL_THE_HIEN.Tao_Chuoi_HTML_Danh_sach_Nhan_vien(Danh_sach_Nhan_vien_duoc_quan_ly);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="DD_Xem_Danh_sach.css?v=@DateTime.Now.Ticks" type="text/css" />
    <title></title>
</head>

<body>
    <div class="container-fluid">
        <form id="HE_THONG" name="HE_THONG" method="post">
            @if (So_luong > 0)
            {
                <div>
                    Hiện tại có @So_luong Phiếu đặt
                    @if (Chuoi_Tra_cuu.Trim() != "")
                    {
                        <span>thỏa tiêu chí <strong>@Chuoi_Tra_cuu</strong></span>
                    }
                </div>

                <div class="DANH_SACH">
                    @Html.Raw(Chuoi_HTML_Danh_sach_Phieu_dat)
                </div>

                <div class="DANH_SACH">
                    <div>Nhân viên Giao hàng:</div>
                    @Html.Raw(Chuoi_HTML_Danh_sach_Nhan_vien)
                </div>
            }
        </form>
    </div>
</body>
</html>
