
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: white;
}

a {
    color: #008CBA;
}

.TIEU_DE {
    background: #ededed;
}
.LOGO {
    padding: 5px;
}
.LOGO img {
    height: 80px;
}

.TEN_HE_THONG {
    font-size: 15pt;
    padding: 5px;
    color: red;
    text-align: left;
}

.GHI_CHU {
    font-size: 12pt !important;
    color: brown !important;
}

.TIM_KIEM {

}

.NGUOI_DUNG {

    font-size: 12pt;
    padding: 5px;
    font-weight: lighter;
    /*text-align: right;*/
}

.CART_ICON {
    width: 50px;
    height: 50px;
}
.header-cart {
    display: inline-flex;
}

.description {
    margin-left: 12px;
}

.text-cart {
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.DANH_SACH_CHUC_NANG {
    border: 1px solid #e7e7e7;
    clear: both;
    padding: 0;
    background: #2a2f56;
}

.CHUC_NANG {
    font-size: 1.0em;
    color: white !important;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
}

    .CHUC_NANG:hover:not(.CHON) {
        background-color: #373d72;
    }

.CHON {
    background: #373d72;
    border: 1px solid #373d72;
    color: white !important;
    font-weight: bold;
}

.KHUNG_CHUC_NANG {
    height: 80vh;
    width: 100vw;
    border: none;
}

.QUAN_TRONG {
    color: red;
}

.TIEU_DE_DANH_SACH {
    background: #4CAF50;
    color: white;
    font-weight: bold;
    text-align: center;
}

.DANH_SACH {
    color: black;
    margin-top: 5px;
}

    .DANH_SACH .KHUNG {
        margin-bottom: 20px;
    }

.THONG_TIN {
    cursor: pointer;
    border: 1px solid silver;
    padding: 10px;
}

    .THONG_TIN div {
        text-align: center;
    }

    .THONG_TIN span {
        font-weight: bold;
    }

    .THONG_TIN:hover {
        background: #f1f1f1;
    }

.MOT_DONG {
    white-space: nowrap;
}

.KHUNG_HINH {
    text-align: center;
}

.HINH {
    max-height: 150px;
    border: none;
}

.ADD_BUTTON {
    margin-top: 10px;
    background: #2d3877;
    cursor: pointer;
    border: none;
    font-size: 13px;
    font-weight: bold;
}
.MINI_CART_ICON {
    width: 17px;
    height: 17px;
}