@using System.Xml;
@{    
    //****************** Khởi động Dữ liệu Nguồn-Nội bộ **********
    var Ung_dung = XL_UNG_DUNG.Khoi_dong_Ung_dung();

    //******************* Khai báo và Khởi động giá trị đầu cho Biến  ********************
    var Ma_so_Chuc_nang = Request["Th_Ma_so_Chuc_nang"]; // Biến Nhập
    var So_luong_Mat_hang = 0;
    if (Ma_so_Chuc_nang == null) { Ma_so_Chuc_nang = "KHOI_DONG"; };
    var Chuoi_HTML_Ket_qua = "";
    if (Ma_so_Chuc_nang == "KHOI_DONG")
    {
        Chuoi_HTML_Ket_qua = Ung_dung.Khoi_dong_Nguoi_dung();
    }
    else if (Ma_so_Chuc_nang == "TRA_CUU")
    {
        var Chuoi_Tra_cuu = Request["Th_Chuoi_Tra_cuu"];
        Chuoi_HTML_Ket_qua = Ung_dung.Tra_cuu(Chuoi_Tra_cuu);
    }
    else if (Ma_so_Chuc_nang == "THEM_LAPTOP")
    {
        var Ma_so_Laptop = Request["Th_Ma_so_Laptop"];
        Chuoi_HTML_Ket_qua = Ung_dung.Them_Laptop(Ma_so_Laptop);
    }
    else if (Ma_so_Chuc_nang == "GIAM_SO_LUONG_LAPTOP")
    {
        var Ma_so_Laptop = Request["Th_Ma_so_Laptop"];
        Chuoi_HTML_Ket_qua = Ung_dung.Giam_So_luong_Laptop(Ma_so_Laptop);
    }
    else if (Ma_so_Chuc_nang == "DAT_HANG")
    {

        Chuoi_HTML_Ket_qua = Ung_dung.Dat_hang();
    }
    else if(Ma_so_Chuc_nang == "CHON_LAPTOP")
    {
        var Ma_so_Laptop = Request["Th_Ma_so_Laptop"];
        Chuoi_HTML_Ket_qua = Ung_dung.Chon_Laptop(Ma_so_Laptop);
    }
    if (Session["Khach_Tham_quan"] == null)
    {
        So_luong_Mat_hang = 0;
    }
    else
    {
        var Khach_Tham_quan = (XL_KHACH_THAM_QUAN)Session["Khach_Tham_quan"];
        So_luong_Mat_hang = Khach_Tham_quan.Danh_sach_Laptop_Chon.Count;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="DD_Chinh.css?v=@DateTime.Now.Ticks" type="text/css" />
</head>
<body>

    <div class="container-fluid">
        
        <div class="row TIEU_DE justify-content-center">
            <div class="col-md-10 col-md-offset-1 content-section">
                <div class="row align-items-center">
                    <div class="col-md-2 col-sm-2 col-3 LOGO">
                        <img src="@XL_THE_HIEN.Dia_chi_Media/LOGO.png" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-5 TIM_KIEM">
                        <form id="HE_THONG" name="HE_THONG" action="MH_Chinh.cshtml" method="post">
                            <input name="Th_Ma_so_Chuc_nang" type="hidden" value="TRA_CUU" />
                            <input type="text" id="Th_Chuoi_Tra_cuu" name="Th_Chuoi_Tra_cuu" class="form-control" placeholder="Nhập tên sản phẩm, từ khóa cần tìm..." />
                        </form>
                    </div>
                    <div class="col-md-3 offset-md-1 col-sm-4 col-4 NGUOI_DUNG">
                        <div class="header-cart">
                            <img src="@XL_THE_HIEN.Dia_chi_Media/CART.svg" class="CART_ICON" />
                            <div class="description">
                                <div class="text-cart d-none d-md-block">
                                    Giỏ Hàng
                                </div>
                                <div class="shopping-cart-header">
                                    (@So_luong_Mat_hang) sản phẩm
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="row DANH_SACH_CHUC_NANG">
                <table class="table-responsive">
                    <thead>
                        <tr id="Th_Danh_sach_Chuc_nang">
                            <td id="MH_Danh_sach_Laptop" class="CHUC_NANG">
                                DANH SÁCH LAPTOP
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        <div class="DANH_SACH">
            @Html.Raw(Chuoi_HTML_Ket_qua)
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
