@using System.Xml;
@{    
    //****************** Khởi động Dữ liệu Nguồn-Nội bộ **********
    var Ung_dung = XL_UNG_DUNG.Khoi_dong_Ung_dung();
    var Nguoi_dung = (XL_KHACH_THAM_QUAN)Session["Khach_Tham_quan"];
    //******************* Khai báo và Khởi động giá trị đầu cho Biến  ********************
    var Ma_so_Chuc_nang = Request["Th_Ma_so_Chuc_nang"]; // Biến Nhập
    var So_luong_Mat_hang = 0;
    if (Ma_so_Chuc_nang == null) { Ma_so_Chuc_nang = "KHOI_DONG"; };
    var Chuoi_HTML_Ket_qua = "";
    if (Ma_so_Chuc_nang == "KHOI_DONG")
    {
        Chuoi_HTML_Ket_qua = Ung_dung.Khoi_dong_MH_Chinh();
    }
    else if (Ma_so_Chuc_nang == "TRA_CUU")
    {
        var Chuoi_Tra_cuu = Request["Th_Chuoi_Tra_cuu"];
        Chuoi_HTML_Ket_qua = Ung_dung.Tra_cuu(Chuoi_Tra_cuu);
    }
    else if (Ma_so_Chuc_nang == "THEM_LAPTOP")
    {
        var Ma_so_Laptop = Request["Th_Ma_so_Laptop"];
        Chuoi_HTML_Ket_qua = Ung_dung.Them_Laptop(Ma_so_Laptop);
    }
    else if (Ma_so_Chuc_nang == "GIAM_SO_LUONG_LAPTOP")
    {
        var Ma_so_Laptop = Request["Th_Ma_so_Laptop"];
        Chuoi_HTML_Ket_qua = Ung_dung.Giam_So_luong_Laptop(Ma_so_Laptop);
    }
    else if (Ma_so_Chuc_nang == "DAT_HANG")
    {

        Chuoi_HTML_Ket_qua = Ung_dung.Dat_hang();
    }
    else if(Ma_so_Chuc_nang == "CHON_LAPTOP")
    {
        var Ma_so_Laptop = Request["Th_Ma_so_Laptop"];
        Chuoi_HTML_Ket_qua = Ung_dung.Chon_Laptop(Ma_so_Laptop);
    }
    else if (Ma_so_Chuc_nang == "XEM_DANH_SACH_LAPTOP")
    {
        Chuoi_HTML_Ket_qua = Ung_dung.Xem_Danh_sach_Laptop();
    }
    else if (Ma_so_Chuc_nang == "DANG_NHAP")
    {

        var Ten_Dang_nhap = Request["Th_Ten_Dang_nhap"];
        var Mat_khau = Request["Th_Mat_khau"];
        Chuoi_HTML_Ket_qua = Ung_dung.Dang_nhap(Ten_Dang_nhap, Mat_khau);
    }
    else if(Ma_so_Chuc_nang == "LOC")
    {
        var Chuoi_Hang = Request["Th_Nhom_Laptop"];
        var Chuoi_Mau_sac = Request["Th_Mau_sac"];
        var Chuoi_Tinh_nang = Request["Th_Tinh_nang"];
        var Chuoi_CPU_Series = Request["Th_CPU_Series"];
        var Hangs = new List<string>();
        var Mau_sacs = new List<string>();
        var Tinh_nangs = new List<string>();
        var DS_CPU_Series = new List<string>();
        if (Chuoi_Hang != null)
        {
            Hangs = Chuoi_Hang.Split(',').ToList();
        }
        else
        {
            Nguoi_dung.Danh_sach_Nhom_Laptop.ForEach(Nhom_Laptop =>
            {
                Hangs.Add(Nhom_Laptop.GetAttribute("Ma_so"));
            });
        }
        if (Chuoi_Mau_sac != null)
        {
            Mau_sacs = Chuoi_Mau_sac.Split(',').ToList();
        }
        else
        {
            Nguoi_dung.Danh_sach_Mau_sac.ForEach(Mau_sac =>
            {
                Mau_sacs.Add(Mau_sac.GetAttribute("Ma_so"));
            });
        }
        if (Chuoi_Tinh_nang != null)
        {
            Tinh_nangs = Chuoi_Tinh_nang.Split(',').ToList();
        }
        else
        {
            Nguoi_dung.Danh_sach_Tinh_nang.ForEach(Tinh_nang =>
            {
                Tinh_nangs.Add(Tinh_nang.GetAttribute("Ma_so"));
            });
        }
        if (Chuoi_CPU_Series != null)
        {
            DS_CPU_Series = Chuoi_CPU_Series.Split(',').ToList();
        }
        else
        {
            Nguoi_dung.Danh_sach_CPU_Series.ForEach(CPU_Series =>
            {
                DS_CPU_Series.Add(CPU_Series.GetAttribute("Ma_so"));
            });
        }
        var Dieu_kien_Loc = new Dictionary<string, List<string>>();
        Dieu_kien_Loc.Add("Nhom_Lap_top", Hangs);
        Dieu_kien_Loc.Add("Mau_sac", Mau_sacs);
        Dieu_kien_Loc.Add("Tinh_nang", Tinh_nangs);
        Dieu_kien_Loc.Add("CPU_Series", DS_CPU_Series);
        Chuoi_HTML_Ket_qua = Ung_dung.Loc(Dieu_kien_Loc);
    }
    if (Session["Khach_Tham_quan"] == null)
    {
        So_luong_Mat_hang = 0;
    }
    else
    {
        var Khach_Tham_quan = (XL_KHACH_THAM_QUAN)Session["Khach_Tham_quan"];
        So_luong_Mat_hang = Khach_Tham_quan.Danh_sach_Laptop_Chon.Count;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="DD_Chinh.css?v=@DateTime.Now.Ticks" type="text/css" />
</head>
<body>

    <div class="container-fluid">
        
        <div class="row TIEU_DE justify-content-center">
            <div class="col-md-10 col-md-offset-1 content-section">
                <div class="row align-items-center">
                    <div class="col-md-2 col-sm-2 col-3 LOGO">
                        <img src="@XL_THE_HIEN.Dia_chi_Media/LOGO.png" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-5 TIM_KIEM">
                        <form id="HE_THONG" name="HE_THONG" action="MH_Chinh.cshtml" method="post">
                            <input name="Th_Ma_so_Chuc_nang" type="hidden" value="TRA_CUU" />
                            <input type="text" id="Th_Chuoi_Tra_cuu" name="Th_Chuoi_Tra_cuu" class="form-control" placeholder="Nhập tên sản phẩm, từ khóa cần tìm..." />
                        </form>
                    </div>
                    <div class="col-md-3 offset-md-1 col-sm-4 col-4 NGUOI_DUNG">
                        <div class="header-cart">
                            <img src="@XL_THE_HIEN.Dia_chi_Media/CART.svg" class="CART_ICON" />
                            <div class="description">
                                <div class="text-cart d-none d-md-block">
                                    Giỏ Hàng
                                </div>
                                <div class="shopping-cart-header">
                                    (@So_luong_Mat_hang) sản phẩm
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row DANH_SACH_CHUC_NANG">
            <table class="table-responsive">
                <thead>
                    <tr id="Th_Danh_sach_Chuc_nang">
                        <td id="MH_Danh_sach_Laptop" class="CHUC_NANG" onclick="CHUC_NANG.value='XEM_DANH_SACH_LAPTOP';DIEU_HUONG.submit();">
                            DANH SÁCH LAPTOP
                        </td>
                        <td id="Dang_nhap" class="CHUC_NANG" data-toggle="modal" data-target="#myModal">
                            ĐĂNG NHẬP
                        </td>
                    </tr>
                </thead>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Đăng Nhập</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="form-signin">
                            <input type="text" id="Th_Ten_Dang_nhap" name="Th_Ten_Dang_nhap" class="form-control" placeholder="Tên đăng nhập" required autofocus>
                            <input type="password" id="Th_Mat_khau" name="Th_Mat_khau" class="form-control" placeholder="Mật khẩu" required>
                            <input name="Th_Ma_so_Chuc_nang" type="hidden" value="DANG_NHAP" />
                            <button id="Th_Dong_y" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Đăng nhập</button>
                        </form>
                    </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
                </div>

            </div>
        </div>

        <div class="DANH_SACH">
            
            @Html.Raw(Chuoi_HTML_Ket_qua)
        </div>
    </div>
    <form id="DIEU_HUONG" method="post">
        <input id="CHUC_NANG" name="Th_Ma_so_Chuc_nang" type="hidden" />
    </form>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
