@using System.Xml;
@{
    //****************** Khởi động Dữ liệu Nguồn-Nội bộ **********
    var Ung_dung = XL_UNG_DUNG.Khoi_dong_Ung_dung();
    var Nguoi_dung = (XL_NGUOI_DUNG_DANG_NHAP)Session["Nguoi_dung_Dang_Nhap"];
    if (Nguoi_dung == null) { Response.Write("Người dùng không hợp lệ"); Response.End(); }
    //******************* Khai báo và Khởi động giá trị đầu cho Biến  ********************
    var Ma_so_Chuc_nang = Request["Th_Ma_so_Chuc_nang"]; // Biến Nhập
    if (Ma_so_Chuc_nang == null) { Ma_so_Chuc_nang = "KHOI_DONG"; };

    var Chuoi_HTML_Ket_qua = "";
    if (Ma_so_Chuc_nang == "KHOI_DONG")
    {
        Chuoi_HTML_Ket_qua = Ung_dung.Khoi_dong();
    }
    else if (Ma_so_Chuc_nang == "TRA_CUU")
    {
        var Chuoi_Tra_cuu = Request["Th_Chuoi_Tra_cuu"];
        Chuoi_HTML_Ket_qua = Ung_dung.Tra_cuu(Chuoi_Tra_cuu);
    }
    else if (Ma_so_Chuc_nang == "CHON_NHOM_LAPTOP")
    {
        var Ma_so_Nhom_Laptop = Request["Th_Ma_so_Nhom_Laptop"];
        Chuoi_HTML_Ket_qua = Ung_dung.Chon_Nhom_Laptop(Ma_so_Nhom_Laptop);
    }
    else if (Ma_so_Chuc_nang == "GHI_NHAP_HANG_MOI")
    {
        var Ma_so_Laptop = Request["Th_Ma_so_Laptop"];
        var So_luong = int.Parse(Request["Th_So_luong"]);
        Chuoi_HTML_Ket_qua = Ung_dung.Ghi_Nhap_hang_Moi(Ma_so_Laptop, So_luong);
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="DD_Chinh.css?v=@DateTime.Now.Ticks" type="text/css" />
</head>
<body>

    <div class="container-fluid">
        
        <div class="row TIEU_DE justify-content-center">
            <div class="col-md-10 col-md-offset-1 content-section">
                <div class="row align-items-center">
                    <div class="col-md-2 col-sm-2 col-3 LOGO">
                        <img src="@XL_THE_HIEN.Dia_chi_Media/LOGO.png" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-5 TIM_KIEM">
                        <form id="HE_THONG" name="HE_THONG" action="MH_Chinh.cshtml" method="post">
                            <input name="Th_Ma_so_Chuc_nang" type="hidden" value="TRA_CUU" />
                            <input type="text" id="Th_Chuoi_Tra_cuu" name="Th_Chuoi_Tra_cuu"  class="form-control" placeholder="Nhập tên sản phẩm, từ khóa cần tìm..." />
                        </form>
                    </div>
                    <div class="col-md-3 offset-md-1 col-sm-4 col-4 NGUOI_DUNG">
                        <div class="header-cart">
                            <img src="@XL_THE_HIEN.Dia_chi_Media/CART.svg" class="CART_ICON" />
                            <div class="description">
                                <div class="text-cart d-none d-md-block">
                                    Giỏ Hàng
                                </div>
                                <div class="shopping-cart-header">
                                    (0) sản phẩm
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="row DANH_SACH_CHUC_NANG">
                <table class="table-responsive">
                    <thead>
                        <tr id="Th_Danh_sach_Chuc_nang">
                            <td id="MH_Danh_sach_Laptop" class="CHUC_NANG">
                                DANH SÁCH LAPTOP
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    <div class="CUA_SO_KET_QUA">
        @Html.Raw(Chuoi_HTML_Ket_qua)
    </div>
    
    @*<div class="CUA_SO_KET_QUA" style="background-color:white;margin:10px">
        @Html.Raw(Chuoi_HTML_Danh_sach_Laptop)
    </div>*@
</body>
</html>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
